.Weather {
  border: 1px solid #dadde1;
  color: rgb(112, 117, 122);
  max-width: 600px;
  padding: 16px;
  border-radius: 4px;
}

.Weather h1 {
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  margin-top: 20px;
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  display: block;
  font-size: 14px;
  font-weight: 100;
  line-height: 19px;
  list-style: none;
}

.Weather img {
  height: 64px;
  width: 64px;
  margin-right: 10px;
}

.Weather .temperature {
  font-weight: bold;
  color: rgb(32, 33, 36);
  font-size: 64px;
  line-height: 64px;
  font-weight: 400;
  position: relative;
  bottom: -20px;

}

.Weather .float-left{
  display: inline-block;
}

.Weather .unit {
  color: rgb(32, 33, 36);
  font-size: 16px;
  font-weight: 400;
  position: relative;
  top: -11px;
  margin-left: 5px;
}
